body{
    background-color: rgb(240, 253, 252);
}
.row{
    display: flex;
    justify-content: center;
    padding: 2%;
    gap: 0.5rem;
    column-gap: 0.3rem;
}
button{
    margin-bottom: 2vh;
    cursor: pointer;
    background-color: rgb(116, 113, 113);
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 8px
}
button:hover{
    background-color: black;
    translate: 10px -5px;
    border: none;
    box-shadow: -5px 8px 1px 0px black;
    border-radius: 30px 2px;
    transition: 0.3s;
}
.colum{
    display: flex;
    flex-direction: column;
}
.seccion{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
input:active {
    background-color: transparent;
    box-shadow: 2px 2px 15px rgb(195, 215, 48) inset;
}

input:focus {
    background-color: rgba(0, 0, 255, 0.158);
    box-shadow: 2px 2px 15px #2e3e77f8 inset;
    color: black;
    font-size: 16px;
}
.enviar{
    display: flex;
    justify-content: center;
}
.c{
    background-color: #850707;
}
.c:hover{
    background-color: #850707;
    border: none;
    box-shadow: -5px 8px 1px 0px #850707;
    border-radius: 30px 2px;
    transition: 0.3s;
}
.igual{
    background-color:  #027926;
}
.igual:hover{
    background-color: #027926;
    border: none;
    box-shadow: -5px 8px 1px 0px #027926;
    border-radius: 30px 2px;
    transition: 0.3s;
}